.page-bg{
    background-color: aqua;
}

.prof-pic {
    border-radius: 50%;
    height: 15rem;
    border: dashed 1px rgb(212, 175, 81);
}

.doc-header {
    background-color: rgb(48, 54, 76);
    
}

.doc-topic {
    background-color: rgb(76, 98, 111);
}

.bd {
    background-color: aliceblue;
}

.head1{
    background-color: antiquewhite;
    padding: .5rem;

    font-weight: bold;
}

.head2{
    font-weight: bold;
    padding: .5rem;
}

.content-txt{
    padding-right: .5rem;
    padding-left: .5rem;
}